

@media only screen and (max-width: 1000px){
	.wrap-choose-content {
	    justify-content: center;
	}

	.choose-us-item {
	    width: 30%;
	    margin-bottom: 25px;
	}

}



@media only screen and (max-width: 970px){

}

@media only screen and (max-width: 850px){

}

@media only screen and (max-width: 800px){

}

@media only screen and (max-width: 767px){

.choose-us-item {
    width: 47%;
}

}

@media only screen and (max-width: 630px){

}