body {
    margin: 0;
    padding: 0;
    position: relative;
    font-family: roboto;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.8;
}

*, ::after, ::before {
    margin: 0;
    padding: 0;
    position: relative;
    box-sizing: border-box;
    outline: none;
    border: none;
}

input, select{
    outline: none;
    border: none;
    font-family: -apple-system,raleway,sans-serif;
    font-size: 16px;
    color: grey;
    background: transparent;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

img {
    display: block;
}

h1, h2, h3, h4, h5, h6{
    font-family:  Dosis,-apple-system,raleway,sans-serif;
    font-size: 30px
    line-height: 2;
    font-weight: 400;
}

::placeholder{
    font-weight: 400;
    font-size: 16px;
    color: grey;
}

.reduced {
    width: 1200px;
    margin: 0 auto;
    max-width: 100%;
}


/********************** language translate ********************************/

.goog-te-gadget-simple img {
    display: none;
}

.goog-te-gadget-simple {
    display: flex !important;
    background: transparent !important;
    border: none !important;
}

.goog-te-gadget-simple span {
    background: transparent !important;
    border: none !important;
}

.goog-te-gadget-simple .goog-te-menu-value {
    color: #fff !important;
}

.goog-te-banner table {
    display: none;
    background: none;
}

.goog-te-banner {
    display: none !important;
    background-image: none;
}


/********************** !language translate ********************************/


/* ===============================================
    GoTop BUtton
------------------------*/

#totop {
    -webkit-transition: all 0.5s ease-in-out 0s; 
    -moz-transition: all 0.5s ease-in-out 0s; 
    -ms-transition: all 0.5s ease-in-out 0s; 
    -o-transition: all 0.5s ease-in-out 0s; 
    transition: all 0.5s ease-in-out 0s; 
}

#totop{
    font-weight: 900;
    color: #fff;
    display: none;
    position: fixed;
    right: 34px;
    bottom: 34px;
    z-index: 999;
    height: 0;
    width: 0;
    font-size: 0;
    text-align: center;
    padding-top: 3px;
    line-height: 37px;
    border-radius: 50%;
}
#totop.top-visible {
    height: 45px;
    width: 45px;
    font-size: 22px;
    display: inline;
}
